{% extends 'landing/layout.html' %}
{% load static %}

{% block content %}

    <div class='content-header'>
      <img class='lab-image' src="{% static  lab.image %}">
    </div>
    <div class='content-header'>
      <h1 class="content-title title-left"> {{ lab.full_name }} </h1>
    </div>

    <div class='content-header content-left'>
        <h4 class='paragraph-title title-left'> {{ lab.overview.title | safe }}</h4>
        <p class='content-paragraph'> {{ lab.overview.text | safe }} </p>
    </div>

    <div class='content-header content-left'>
          <h4 class='paragraph-title title-left'> Our Staff </h4>
    </div>
    <div class='content-header'>
          <div class='lab-member-container'>
          {% for person in lab.members %}

                  <div class="col-md-3">
                      <div class="image-tile outer-title text-center">
                          <img alt="Pic" class="profile-img">
                          <div class="title">
                              <h6 class="uppercase mb0">{{ person }} </h6>
                              <h7> {{ person.title }} </h7>
                              <div class="bio-icon">
                                  <span> {{ person.email }} </span> <br/>
                                  {% if not person.personal == '' %}
                                      <span><a href="{{ person.personal }}" target="_blank"><i class="ti-world"></i></a></span>
                                  {% endif %}
                                  {% if not person.github == '' %}
                                      <span><a href="{{ person.github }}" target="_blank"><i class="ti-github"></i></a></span>
                                  {% endif %}
                                  {% if not person.linkedin == '' %}
                                      <span><a href="{{ person.linkedin }}" target="_blank"><i class="ti-linkedin"></i></a></span>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>

          {% endfor %}
          </div>
    </div>

    <div class='content-header content-left'>
        <h4 class='paragraph-title title-left'> {{ lab.join.title | safe }} </h4>
        <p class='content-paragraph'> {{ lab.join.text | safe }} </p>
    </div>

    <div class='content-header content-left'>
      <h4 class='paragraph-title title-left'> {{ lab.calendar.title | safe }} </h4>
      <p class='content-paragraph'> {{ lab.calendar.text | safe }} </p>
    </div>

    <div class='content-header'>
      <div class="row center-div">
        {{ lab.calendar.object| safe }}
      </div>
    </div>

{% endblock %}
