{% extends 'dashboard/layout.html' %}

{% block content %}

    <h1 class='content-title'> Announcements </h1>
    <div class='announcment-container'>
      {% for msg in announcments %}
          <div class='announcment-entry'>
            <span class='msg-date'> {{ msg.date_posted }} </span>
            <a href="{% url 'announcement' announcement_id=msg.id %}"> <span class='msg-title'>{{ msg.title }}</span> </a>
            <p class='msg-description'>&emsp;&emsp;{{ msg.short_description }}
              <a class='msg-more' href="{% url 'announcement' announcement_id=msg.id %}">Read More</a> </br>
            </p>
          </div>
      {% endfor %}
    </div>

    <h1 class='content-title'> Calendar </h1>
    <div class='homepage-calendar'>
      <iframe src="https://calendar.google.com/calendar/embed?src=17f15hlh7tuk2a4rtqa1odu9sk%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}
