{% extends 'dashboard/layout.html' %}

{% block content %}

	<div class='content-header'>
	    <h1 class='content-title'> People </h1>
	    <form class='content-search-form' action="{% url 'people' %}" method="GET">
    		<input class='content-search' type="text"
    		placeholder="Search.." value="{{ search_val }}" name="search">
	    </form>
	</div>
      {% for person in people %}
          <div class='announcment-entry'>
            <a href="{% url 'profile' username=person.user.username %}"> <span class='msg-title'>
              {{ person.full_name }}</span> </a>
            <p class='msg-description'>&emsp;&emsp;{{ person.status }}
            </p>
          </div>
      {% endfor %}

{% endblock %}