{% extends 'dashboard/layout.html' %}

{% block content %}

	<div class='content-header'>
	    <h1 class='content-title'> My Projects </h1>
	</div>
	
	<h2 style="text-decoration: underline;"> Managing </h2>
      {% for project in profile.managers.all %}
        {% if project.in_progress  %}
          <div class='announcment-entry'>
            <a href="{% url 'project' proj_id=project.id %}"> <span class='msg-title'>
              {{ project.name }}</span> </a>
            <p class='msg-description'>&emsp;&emsp;{{ project.lab.name }}
            </p>
          </div>
        {% endif %}
      {% endfor %}
  <br/>
  <h2 style="text-decoration: underline;"> Participating </h2>
      {% for project in profile.researchers.all %}
        {% if project.active  %}
          <div class='announcment-entry'>
            <a href="{% url 'project' proj_id=project.id %}"> <span class='msg-title'>
              {{ project.name }}</span> </a>
            <p class='msg-description'>&emsp;&emsp;{{ project.lab.name }}
            </p>
          </div>
        {% endif %}
      {% endfor %}
  <br/>
  <h2 style="text-decoration: underline;"> Past Projects </h2>
      {% for project in profile.managers.all %}
        {% if not project.active  %}
          <div class='announcment-entry'>
            <a href="{% url 'project' proj_id=project.id %}"> <span class='msg-title'>
              {{ project.name }}</span> </a>
            <p class='msg-description'>&emsp;&emsp;{{ project.lab.name }}
            </p>
          </div>
        {% endif %}
      {% endfor %}
      {% for project in profile.researchers.all %}
        {% if not project.active  %}
          <div class='announcment-entry'>
            <a href="{% url 'project' proj_id=project.id %}"> <span class='msg-title'>
              {{ project.name }}</span> </a>
            <p class='msg-description'>&emsp;&emsp;{{ project.lab.name }}
            </p>
          </div>
        {% endif %}
      {% endfor %}

{% endblock %}